#define SVTools 1
SVTools VERSIONINFO
FILEVERSION 2,7,1
PRODUCTVERSION 2,4,1
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "SVz\0"
      VALUE "FileVersion", "2.7.1\0"
      VALUE "FileDescription", "Ressources / Import Table Rebuilder\0"
      VALUE "LegalCopyright", "SVz Copyrighted\0"
      VALUE "ProductVersion", "1.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END
